html,body {
    background-color: #000;
    font-family: "seven-seg", monospace;
    overflow-x: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scoretime {
    background-color: #000;
}

.sevs {
    font-family: "seven-seg", monospace;
    font-size: xx-large;
    color: #000;
    text-shadow: 0 0 0.1em rgba(153, 0, 0, 0.5), 0 0 0.2em rgba(153, 0, 0, 0.5), 0 0 0.3em rgba(255, 0, 0, 0.5), 0 0 0.5em rgba(255, 0, 0, 0.5), 0 0 0.5em rgba(255, 0, 0, 0.5), 0 0 0.55em rgba(255, 0, 0, 0.5), 0 0 0.6em rgba(255, 0, 0, 0.5);
    background-color: #232323;
    padding: 0.25em;
    border: 0.25em #232323 solid;
    border-radius: 0.25em;
}

.pgrid {
    column-gap: 10px;
    row-gap: 0px;
    aspect-ratio: 1/1;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(9, 1fr);
    width: 45%
}

.pgrid-c {
    aspect-ratio: 1/1;
    border-radius: 5px;
    cursor: pointer;
    font-size: 3.5rem;
    display: table-cell;
    vertical-align: middle;
    margin: 2px;
    padding: 2px;
    text-align: center;
    width: 100%;
    background-color: #ddd;
    color: #000
}

.clear {
    background-color: #888;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: orangered;
}

.four {
    color: darkblue;
}

.five {
    color: maroon;
}

.six {
    color: teal;
}

.seven {
    color: black;
}

.eight {
    color: darkgray;
}

@font-face {
    font-family: 'seven-seg';
    src: url('fonts/Seven-Seg.ttf') format('truetype');
}